


/* body{
    background-image: url('C:\Users\keerthana\Desktop\React projects\bookcorner\images\bookbackground.jpg');
    background-size:cover;
    background-repeat: no-repeat;
} */

h1{
    text-align: center;
}